h1{
    text-transform: uppercase;
    color:blue;
}

h2{
    text-decoration: underline;
    color: red;
}

p{
    text-align: justify;
}

#h3{
    text-align: right;
}


#p{
    text-shadow: 2px 2px 5px red;
}